// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.head1 {
	font-family: 'Lora', serif;
	font-size: 50px;
	color: blue;
	text-align: center;
	padding: 4%;
}

#table {
	display: center;
	border: solid 10px #004c80;
	opacity: 50%;
	height: 300px;
	width: 400px;
	margin: auto;
	float: top;
	display: relative;
	padding-left: 20px;
}

table {
	padding-top: 40px;
	padding-left: 30px;
	float: center;

}

#new_user {
	background-color: #e0e0eb;
	height: 40px;
	width: 110px;
	float: center;
	display: relative;
	padding-top: 15px;
	padding-left: 15px;
}

#new_user a:link {
	list-style-type: none;
	text-decoration: none;
	color: white;
	padding-top: 15px;
	padding-left: 10px;
}

#new_user a:visited {
	list-style-type: none;
	text-decoration: none;
	color: #64649b;
	padding-top: 15px;
	padding-left: 10px;
}

#Listing_Name {
	font-family: serif;
	font-size: 26px;
	color: #4db8ff;
	padding: 10%;
}

.table_keys a:link {
	font-family: serif;
	font-size: 12px;
	color: #80ccff;
	list-style-type: none;
	text-decoration: none;
}

.table_keys a:visited {
	font-family: serif;
	font-size: 12px;
	color: #6666ff;
	list-style-type: none;
	text-decoration: none;
}

#table_keys {
	list-style-type: none;
	text-decoration: none;
}